{:deps {org.clojure/clojurescript {:mvn/version "1.10.520"}
        reagent {:mvn/version "0.9.1"}
        re-frame {:mvn/version "0.11.0"}
        leipzig {:mvn/version "0.10.0"}
        com.bhauman/figwheel-main {:mvn/version "0.2.3"}
        breaking-point {:mvn/version "0.1.2"}}
 :paths ["src" "target" "resources"]
 :main piano-bench.core
 :npm-deps false
 :infer-externs true
 :foreign-libs [{:file "dist/index.bundle.js"
                 :provides ["vexflow"]
                 :global-exports {vexflow Vex}}]
 :aliases
 {:figwheel {:extra-paths ["test"]
             :main-opts ["-m" "figwheel.main" "--build" "dev" "--repl"]}
  :ci-tests {:extra-paths ["test"]
             :main-opts ["-m" "figwheel.main" "-m" "piano-bench.test.runner"]}}}
